# *.jpg
# *.png
data
*.avi
*feh_*
*.pkl
*__pycache__*
*tmp*
*.idea
*.DS_Store*
*egg-info*
*.ply*
*linecount*
*pytest_cache*
*.vscode*
*dsprites-dataset*

*.code-workspace*

.venv
.venv-main
.venv-*
*.so*
*build

*imgui.ini*

#third_party
*logs*

rl2seq

*plot_table*

*HW*

# chaoyi's local files
*.hdf5
# *.txt
*chaoyi*
*webm*
*events*
*Log*
*zhiao3_disk1*
*.npz*
*.mp4
*.webm
*.png
# *.json
*partnet-mobility-dataset*
*.pt
*.pcd
*.zip
*.tiny

# sapien
sapien*

*.gif
*.VSCodeCounter
*.cache*

*.pkl
*.npy
*__pycache__*
*.ruby-version

*.obj
*.tar.gz

# ext
ext/*/*
ext/*

example/*
example
test

weights
_DATA
.cursor
reconstructed_objects/*
demo_img
mano_data
reconstructed_objects
debug
demo_img

data_split
pick_up_card

aria
checkpoints
models
runs
wandb
cache
ckpts

eval_results
*.log
*.out
visualized_images
visualize_images
visualize_videos

new_data
scripts_backup
.claude
sh_server
